.main-principal{
    width: 100vw;
    min-height: 100vh;
}

.principal{
    text-align: center;
    padding: 100px;
    position: relative;
}

.principal::before{
    content: '';
    background-image: url(../../assets/thumb12.png);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    filter: blur(5px);
    filter: contrast(40%);
    z-index: -1;
    background-size: cover;
    background-position: center;
}

.principal > h2{
    color: #2e2e2e;
    text-transform: uppercase;
    font-size: 40px;
}

.principal > h1{
    color: #E1BB80;
    text-transform: uppercase;
    font-size: 80px;
}

.principal-button{
    margin: 20px;
    width: 25vh;
    height: 10vh;
    border: none;
    border-radius: 50px;
    text-transform: uppercase;
    background-color: #E1BB80;
    color: white;
    cursor: pointer;
}

.secundaria{
    padding: 150px;
    display: flex;
    gap: 50px;
}

.div-alugar-main{
    text-align: center;
}

.div-alugar-main > h2{
    color: #2e2e2e;
    text-transform: uppercase;
    font-size: 20px;
}

.div-alugar-main > h1{
    color: #E1BB80;
    text-transform: uppercase;
    font-size: 40px;
    margin-top: 10px;
}

.div-alugar{
    display: flex;
}

.hammer{
    width: 500px;
}

.icon-styles{
    font-size: 60px;
}

.middle-banner{
    background-color: #E1BB80;
    width: 70vw;
    height: 20vh;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

.first-text-middle-banner{
    margin: auto 0;
    text-align: center;
}

.first-text-middle-banner > h1{
    color: white;
    text-transform: uppercase;
    font-size: 50px;
}

.first-text-middle-banner > p{
    font-size: 18px;
    color: #2e2e2e;
}

.second-text-middle-banner {
    margin: auto 0;
    text-align: center;
}

.second-text-middle-banner > h1 {
    font-size: 50px;
    color: white;
    text-transform: uppercase;
}

.second-text-middle-banner > p {
    font-size: 18px;
    color: #2e2e2e;
}

.thirty-banner{
    text-align: center;
}

.thirty-banner > h1{
    text-transform: uppercase;
    color: #E1BB80;
    padding-top: 20px;
}

.thirty-banner > h2 {
    color: #2e2e2e;
    padding-top: 20px;
}

.catalog{
    display: flex;
    gap: 100px;
    padding-top: 30px;
    justify-content: center;
}


