.main-myorders {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    overflow: hidden;
    gap: 50px;
}

.left-myorders {
    flex: 1;
    height: 90vh;
    background-color: #2e2e2e;
    color: white;
    margin-left: 20px;
    border-radius: 15px;
}

.myorders-content-left {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 20px;
}

.right-myorders {
    flex: 4;
    height: 90vh;
    background-color: #E1BB80;
    color: #2e2e2e;
    margin-right: 20px;
    border-radius: 15px;
}