.main-myorders {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    overflow: hidden;
    gap: 50px;
}

.left-myorders {
    flex: 1;
    height: 90vh;
    background-color: #2e2e2e;
    color: white;
    margin-left: 20px;
    border-radius: 15px;
}

.left-myorders{ /*ARRUMAR AQUI*/
    text-align: center;
    padding-top: 20px;
}

.myorders-content-left {
    padding-top: 50px;
    padding-left: 25px;
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 20px;
}

.right-myorders {
    flex: 4;
    height: 90vh;
    background-color: #E1BB80;
    color: #2e2e2e;
    margin-right: 20px;
    border-radius: 15px;
}

.order-header{
    display: flex;
    padding-inline: 10px;
}

.order-buttons{
    display: flex;
    gap: 100px;
    font-size: 10px;
    padding-top: 50px;
    padding-left: 40px;
}

.order-buttons>h1:hover{
    text-decoration: underline;
    transform: scale(1.05);
    cursor: pointer;
    font-weight: bold;
}

.all-orders{
    display: flex;
    flex-direction: column;
}

.orders-text{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 35px;
    margin-top: 50px;
    background-color: purple;
    border-radius: 15px;
    width: 70vw;
    height: 7vh;
}

.orders-text > h1 {
    padding: 15px;
    font-size: 30px;
    color: #fff;
}

.orders-products{
    display: flex;
    flex-direction: column;
    margin-left: 45px;
    margin-right: 70px;
    padding-top: 50px;
    gap: 20px;
}

.orders-products-number{
    display: flex;
    justify-content: space-between;
}

