.card {
    width: 280px;
}

.card .header {
    background-color:  #715594;
    border-radius: 10px 10px 0px 0px;
}
.card img {
    left: 12.5vh;
    width: 33.3%;
    position: relative;
    bottom: -50px;
}

.card .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.08);
    border-radius: 0px 0px 10px 10px;
    padding-top: 90px;
    padding-bottom: 40px;
}

.card .footer h4 {
    color: #6278F7;
    font-size: 18px;
    line-height: 22px;
    font-weight: bold;
    margin-bottom: 8px;
}

.card .footer h5 {
    font-size: 18px;
    line-height: 22px;
    color: #212121;
    padding: 0 16px;
}

.card .footer h1{
    font-size: 20px;
}

.button:hover {
    background-color: #725d8a;

}
